{% extends 'core/base.html' %}

{% block content %}


<style>

input {
	box-sizing: border-box;
	width: 100%;
	outline: none;
	height: 40px;
	line-height: 60px;
	border-radius: 4px;
	padding: 0 0 0 10px;
	margin: 0;
	border: 1px solid #c2c0ca;
	font-style: normal;
	font-size: 16px;
	appearance: none;
	position: relative;
	display: inline-block;
	background: none;
}

</style>

    <div class="container">
        <div class="columns">
            <div style="padding-left:200px;" class="column is-12">
				<h1  class="title">Log In</h1>
                <form method="post" action=".">
                    {% csrf_token %}

                    {{ form.as_p }} 

                    <button class="button is-dark is-success" type="submit">Log in</button>
                </form>

                
            </div>
        </div>
    </div>
{% endblock %}